<main>
    <h2 class="Titulos-categorias"> Lista de pacientes y sus fechas de nacimiento </h2>



    {{#if error}}
        <div class="error">{{error}}</div>
    {{/if}}

    <!-- Tabla con la lista de pacientes y sus fechas de nacimiento -->
    {{#if pacientes}}
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Fecha de Nacimiento</th>
                </tr>
            </thead>
            <tbody>
                {{#each pacientes}}
                    <tr>
                        <td>{{this.nombre}}</td>
                        <td>{{this.fecha_nacimiento}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    {{else}}
        <p>No se encontraron pacientes.</p>
    {{/if}}


</main>