<main>
    <h2 class="Titulos-categorias">Inventario de Equipos Médicos</h2>

    {{#if error}}
        <p style="color: red;">{{error}}</p>
    {{/if}}

    {{#if inventario}}
        <table>
            <thead>
                <tr>
                    <th>Estado</th></br>
                    <th>Nombre del Equipo</th>
                </tr>
            </thead>
            <tbody>
                {{#each inventario}}
                    <tr>
                        <td> {{this.estado}} </td> 

                        <td> -- {{this.nombre_producto}} </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    {{else}}
        <p>No se encontraron equipos médicos en el inventario.</p>
    {{/if}}


</main>