<main>
    <h2 class="Titulos-categorias"> Todos los resultados </h2>

    <form action="/consulta2" method="GET">
        <label for="idPaciente">ID del Paciente:</label>
        <input type="number" id="idPaciente" name="idPaciente" placeholder="Ingrese el ID del paciente" required>

        <button type="submit">Consultar</button>
    </form>



    <h1>Historial Médico de Paciente</h1>

    {{#if historial}}
        <h2>Resultados</h2>
        <ul>
            {{#each historial}}
                <li>
                    <strong>Fecha:</strong> {{this.fecha}} <br>
                    <strong>Diagnóstico:</strong> {{this.diagnostico}} <br>
                    <strong>Tratamiento:</strong> {{this.tratamiento}}
                </li>
            {{/each}}
        </ul>
    {{/if}}

</main>