<main>
    <h2 class="Titulos-categorias"> Especialidades Médicas y sus Miembros </h2>

    {{#if error}}
        <p style="color: red;">{{error}}</p>
    {{/if}}

    {{#if especialidades}}
        <table>
            <thead>
                <tr>
                    <th>Nombre del Médico</th>
                    <th>Especialidad</th>
                </tr>
            </thead>
            <tbody>
                {{#each especialidades}}
                    <tr>
                        <td>{{this.nombre}}</td>
                        <td>  - {{this.especialidad}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    {{else}}
        <p>No se encontraron médicos con especialidades registradas.</p>
    {{/if}}


</main>