<main>
    <h2 class="Titulos-categorias">Medicamentos Próximos a Caducar</h2>

    {{#if error}}
        <p style="color: red;">{{error}}</p>
    {{/if}}

    {{#if medicamentos.length}}
        <table>
            <thead>
                <tr>
                    <th>Nombre del Medicamento</th>
                    <th>Fecha de Caducidad</th>
                </tr>
            </thead>
            <tbody>
                {{#each medicamentos}}
                    <tr>
                        <td>{{this.nombre_producto}}</td>
                        <td>{{this.fecha_caducidad}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    {{else}}
        <p>No se encontraron medicamentos próximos a caducar.</p>
    {{/if}}


</main>