<main>
            <h2 class="Titulos-categorias"> Todos los productos </h2>

            

            <div class="container mt-4">
                <div class="row">
                    
            

                    <div class="col-md-4 mb-4">
                        <div class="card h-100" style="max-width: 400px; margin: auto;">
                            <img src="asdasdasdasdasdas" class="card-img-top" alt="hola profe">
                            <div class="card-producto-body">
                                <h5 class="card-producto-titulo">Consulta 3</h5>
                                <p class="card-text">Breve descripción.</p>

                            </div>
                            <div class="card-footer text-center">
                                <button class="btn btn-success boton-agregar"><i class="bi bi-arrow-return-right"></i> Consultar</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 mb-4">
                        <div class="card h-100" style="max-width: 400px; margin: auto;">
                            <img src="asdasdasdasdasdas" class="card-img-top" alt="hola profe">
                            <div class="card-producto-body">
                                <h5 class="card-producto-titulo">Consulta 2</h5>
                                <p class="card-text">Breve descripción.</p>
                            
                            </div>
                            <div class="card-footer text-center">
                                <button class="btn btn-success boton-agregar"><i class="bi bi-arrow-return-right"></i> Consultar </button>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4 mb-4">
                        <div class="card h-100" style="max-width: 400px; margin: auto;">
                            <img src="asdasdasdasdas" class="card-img-top" alt="hola profe">
                            <div class="card-producto-body">
                                <h5 class="card-producto-titulo">Consulta 1</h5>
                                <p class="card-text">Breve descripción.</p>
                            </div>
                            <div class="card-footer text-center">
                                <button class="btn btn-success boton-agregar"><i class="bi bi-arrow-return-right"></i> Consultar </button>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
            

</main>