<main>
    <h2 class="Titulos-categorias"> Todas las Consultas </h2>



    <div class="container mt-4">
        <div class="row">



            <div class="col-md-4 mb-4">
                <div class="card h-100" style="max-width: 400px; margin: auto;">
                    <img src="asdasdasdasdasdas" class="card-img-top" alt="hola profe">
                    <div class="card-producto-body">
                        <h5 class="card-producto-titulo">Consulta 1</h5>
                        <p class="card-text">Breve descripción.</p>

                    </div>
                    <div class="card-footer text-center">
                        <a href="/consulta1" > Consulta 1 </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card h-100" style="max-width: 400px; margin: auto;">
                    <img src="asdasdasdasdasdas" class="card-img-top" alt="hola profe">
                    <div class="card-producto-body">
                        <h5 class="card-producto-titulo">Consulta 2</h5>
                        <p class="card-text">Breve descripción.</p>

                    </div>
                    <div class="card-footer text-center">
                        <a href="/consulta2" > Consulta 2 </a>
                    </div>
                </div>
            </div>


            <div class="col-md-4 mb-4">
                <div class="card h-100" style="max-width: 400px; margin: auto;">
                    <img src="asdasdasdasdasdas" class="card-img-top" alt="hola profe">
                    <div class="card-producto-body">
                        <h5 class="card-producto-titulo">Consulta 3</h5>
                        <p class="card-text">Breve descripción.</p>

                    </div>
                    <div class="card-footer text-center">
                        <a href="/consulta3" > Consulta 3 </a>
                    </div>
                </div>
            </div>


            <div class="col-md-4 mb-4">
                <div class="card h-100" style="max-width: 400px; margin: auto;">
                    <img src="asdasdasdasdasdas" class="card-img-top" alt="hola profe">
                    <div class="card-producto-body">
                        <h5 class="card-producto-titulo">Consulta 4</h5>
                        <p class="card-text">Breve descripción.</p>

                    </div>
                    <div class="card-footer text-center">
                        <a href="/consulta4" > Consulta 4 </a>
                    </div>
                </div>
            </div>



            <div class="col-md-4 mb-4">
                <div class="card h-100" style="max-width: 400px; margin: auto;">
                    <img src="asdasdasdasdasdas" class="card-img-top" alt="hola profe">
                    <div class="card-producto-body">
                        <h5 class="card-producto-titulo">Consulta 5</h5>
                        <p class="card-text">Breve descripción.</p>

                    </div>
                    <div class="card-footer text-center">
                        <a href="/consulta5" > Consulta 5 </a>
                    </div>
                </div>
            </div>



            <div class="col-md-4 mb-4">
                <div class="card h-100" style="max-width: 400px; margin: auto;">
                    <img src="asdasdasdasdasdas" class="card-img-top" alt="hola profe">
                    <div class="card-producto-body">
                        <h5 class="card-producto-titulo">Consulta 6</h5>
                        <p class="card-text">Breve descripción.</p>

                    </div>
                    <div class="card-footer text-center">
                        <a href="/consulta6" > Consulta 6 </a>
                    </div>
                </div>
            </div>



            <div class="col-md-4 mb-4">
                <div class="card h-100" style="max-width: 400px; margin: auto;">
                    <img src="asdasdasdasdasdas" class="card-img-top" alt="hola profe">
                    <div class="card-producto-body">
                        <h5 class="card-producto-titulo">Consulta 7</h5>
                        <p class="card-text">Breve descripción.</p>

                    </div>
                    <div class="card-footer text-center">
                        <a href="/consulta7" > Consulta 7 </a>
                    </div>
                </div>
            </div>



            <div class="col-md-4 mb-4">
                <div class="card h-100" style="max-width: 400px; margin: auto;">
                    <img src="asdasdasdasdasdas" class="card-img-top" alt="hola profe">
                    <div class="card-producto-body">
                        <h5 class="card-producto-titulo">Consulta 8</h5>
                        <p class="card-text">Breve descripción.</p>

                    </div>
                    <div class="card-footer text-center">
                        <a href="/consulta8" > Consulta 8 </a>
                    </div>
                </div>
            </div>



            <div class="col-md-4 mb-4">
                <div class="card h-100" style="max-width: 400px; margin: auto;">
                    <img src="asdasdasdasdasdas" class="card-img-top" alt="hola profe">
                    <div class="card-producto-body">
                        <h5 class="card-producto-titulo">Consulta 9</h5>
                        <p class="card-text">Breve descripción.</p>

                    </div>
                    <div class="card-footer text-center">
                        <a href="/consulta9" > Consulta 9 </a>
                    </div>
                </div>
            </div>




            <div class="col-md-4 mb-4">
                <div class="card h-100" style="max-width: 400px; margin: auto;">
                    <img src="asdasdasdasdasdas" class="card-img-top" alt="hola profe">
                    <div class="card-producto-body">
                        <h5 class="card-producto-titulo">Consulta 10</h5>
                        <p class="card-text">Breve descripción.</p>

                    </div>
                    <div class="card-footer text-center">
                        <a href="/consulta10" > Consulta 10 </a>
                    </div>
                </div>
            </div>



            <div class="col-md-4 mb-4">
                <div class="card h-100" style="max-width: 400px; margin: auto;">
                    <img src="asdasdasdasdasdas" class="card-img-top" alt="hola profe">
                    <div class="card-producto-body">
                        <h5 class="card-producto-titulo">Consulta 11</h5>
                        <p class="card-text">Breve descripción.</p>

                    </div>
                    <div class="card-footer text-center">
                        <a href="/consulta11" > Consulta 11 </a>
                    </div>
                </div>
            </div>



            <div class="col-md-4 mb-4">
                <div class="card h-100" style="max-width: 400px; margin: auto;">
                    <img src="asdasdasdasdasdas" class="card-img-top" alt="hola profe">
                    <div class="card-producto-body">
                        <h5 class="card-producto-titulo">Consulta 12</h5>
                        <p class="card-text">Breve descripción.</p>

                    </div>
                    <div class="card-footer text-center">
                        <a href="/consulta12" > Consulta 12 </a>
                    </div>
                </div>
            </div>



            <div class="col-md-4 mb-4">
                <div class="card h-100" style="max-width: 400px; margin: auto;">
                    <img src="asdasdasdasdasdas" class="card-img-top" alt="hola profe">
                    <div class="card-producto-body">
                        <h5 class="card-producto-titulo">Consulta 13</h5>
                        <p class="card-text">Breve descripción.</p>

                    </div>
                    <div class="card-footer text-center">
                        <a href="/consulta13" > Consulta 13 </a>
                    </div>
                </div>
            </div>



            <div class="col-md-4 mb-4">
                <div class="card h-100" style="max-width: 400px; margin: auto;">
                    <img src="asdasdasdasdasdas" class="card-img-top" alt="hola profe">
                    <div class="card-producto-body">
                        <h5 class="card-producto-titulo">Consulta 14</h5>
                        <p class="card-text">Breve descripción.</p>

                    </div>
                    <div class="card-footer text-center">
                        <a href="/consulta14" > Consulta 14 </a>
                    </div>
                </div>
            </div>



            <div class="col-md-4 mb-4">
                <div class="card h-100" style="max-width: 400px; margin: auto;">
                    <img src="asdasdasdasdasdas" class="card-img-top" alt="hola profe">
                    <div class="card-producto-body">
                        <h5 class="card-producto-titulo">Consulta 15</h5>
                        <p class="card-text">Breve descripción.</p>

                    </div>
                    <div class="card-footer text-center">
                        <a href="/consulta15" > Consulta 15 </a>
                    </div>
                </div>
            </div>



        </div>
    </div>


</main>